[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
setuptools = "*"
cryptography = "*"
gunicorn = "*"
celery = "*"
dj-rest-auth = "*"
django-allauth = "*"
django-celery-beat = "*"
djangorestframework-simplejwt = "*"
redis = "*"
python-decouple = "*"
stripe = "*"
django-summernote = "*"
django-admin-sortable2 = "*"
django-oauth-toolkit = "*"
requests-unixsocket = "*"
pytz = "*"
django-admin-rangefilter = "*"
playwright = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.12"
