<p><strong>Access Options:</strong></p>
<ul>
  {% if order.access_lock_box %}
    <li>Lock Box<br/>
      {% if order.lock_box_code %} (Code: {{ order.lock_box_code }}){% endif %}
      {% if order.lock_box_location %}<br>Location: {{ order.lock_box_location }}{% endif %}
    </li>
  {% endif %}
  {% if order.access_app_lock_box %}
    <li>App Lock Box - Yes</li>
  {% endif %}
  {% if order.access_meet_contact %}
    <li>Meet Contact -Details<br/>
      {% if order.contact_first_name%} {{ order.contact_first_name }}{% endif %}
      {% if order.contact_last_name %} {{ order.contact_last_name }}{% endif %} <br/>
      {% if order.contact_phone %} (Phone: {{ order.contact_phone }}){% endif %}<br/>
      {% if order.contact_email %} (Email: {{ order.contact_email }}){% endif %}<br>
    </li>
  {% endif %}
  {% if order.access_hidden_key %}
    <li>Hidden Key
      {% if order.hidden_key_directions %}<br>Directions: {{ order.hidden_key_directions }}{% endif %}
    </li>
  {% endif %}
  {% if order.access_community_access %}
    <li>Community Access
      {% if order.community_access_instructions %}<br>Instructions: {{ order.community_access_instructions }}{% endif %}
    </li>
  {% endif %}
  {% if order.access_door_code %}
    <li>Door Code
      {% if order.door_code_value %} (Code: {{ order.door_code_value }}){% endif %}
    </li>
  {% endif %}
  {% if not order.access_lock_box and not order.access_app_lock_box and not order.access_meet_contact and not order.access_hidden_key and not order.access_community_access and not order.access_door_code %}
    <li><em>No access options specified</em></li>
  {% endif %}
</ul>
{# Special Instructions Section #}

{% if order.sp_instruction %}
  <p><strong>Special Instructions for Order:</strong></p>
  <p style='margin-left: 1em;'>{{ order.sp_instruction|linebreaksbr }}</p>
{% endif %}

{% if invoice_data.termsNotes %}
  <p><strong>Terms &amp; Notes:</strong></p>
  {{ invoice_data.termsNotes|safe }}
{% endif %}

<p><strong>Transaction ID:</strong/> {{transaction.transaction_id}}</p>
