
{% comment %} INVOICE FORMATTED CONTENT FOR WYSIWYG FIELD {% endcomment %}

<p><strong>Product Items:</strong></p>
<ul>
  {% for bundle in order.bundles.all %}
    <li>
      <strong>{{ bundle.name }}</strong><br />
      {% if bundle.description %}
        <em>{{ bundle.description }}</em><br />
      {% endif %}
      
      {% if bundle.options.all %}
        <ul>
        {% for option in bundle.options.all %}
        {%if option.value == "True"%}
        <li>{{ option.name }}</li>
          {%else%}
           <li>{{ option.name }}: {{ option.value }}</li>
          {%endif%}
        {% endfor %}
        </ul>
      {% endif %}

      {% if bundle.modal_options.all %} 
        <ul>
        {% for modal_option in bundle.modal_options.all %}
           <li>{{ modal_option.name }}: {{ modal_option.value }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}

  {% for service in order.a_la_carte_services.all %}
    <li>
      <strong>{{ service.title }}</strong><br />
      {% if service.subtitle %}
        <em>{{ service.subtitle }}</em><br />
      {% endif %}
      
      <ul>
      {% for item in service.items.all %}
        <li>
          {{ item.title }}
          
          {% if item.options.all %}
            <ul>
            {% for option in item.options.all %}
              {% if option.value %}
                <li>{{ option.label }}</li>
              {% endif %}
            {% endfor %}
            </ul>
          {% endif %}

          {% if item.submenu_items.all %}
            <ul>
            {% for sub_item in item.submenu_items.all %}
            {% if sub_item.type == 'checkbox' or sub_item.type == 'radio' %}
              <li>{{ sub_item.label }}</li> 
            {% else %}
               <li>{{ sub_item.label }}: {{ sub_item.value }}</li>
            {% endif %}
            {% endfor %}
            </ul>
          {% endif %}

          {% if item.modal_options.all %} 
            <ul>
            {% for modal_option in item.modal_options.all %}
               <li>{{ modal_option.name }}: {{ modal_option.value }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% if item.disclosures.all %}
            <br/>
            Agreed Disclosures:
            <ul>
            {% for disclosure in item.disclosures.all %}
               {% if disclosure.value %}
               <li>{{ disclosure.name }}</li>
               {% endif %}
            {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </li>
  {% endfor %}

  {% if order.order_protection and order.order_protection_price > 0 %}
    <li>
      <strong>Order Protection</strong>
    </li>
  {% endif %}

  {% if not order.bundles.all and not order.a_la_carte_services.all %}
    <li><em>No items added</em></li>
  {% endif %}
</ul>
<br/>


{# Occupancy & Access section #}
<p><strong> Occupancy Status: </strong>
  {% if order.occupancy_vacant %}
  Vacant
  {% elif order.occupancy_occupied%}
  Occupied
  {%else%}
    Not specified
  {%endif%}
</p>



<p><strong>Access Options:</strong></p>
<ul>
  {% if order.access_lock_box %}
    <li>Lock Box<br/>
      {% if order.lock_box_code %} (Code: {{ order.lock_box_code }}){% endif %}
      {% if order.lock_box_location %}<br>Location: {{ order.lock_box_location }}{% endif %}
    </li>
  {% endif %}
  {% if order.access_app_lock_box %}
    <li>App Lock Box - Yes</li>
  {% endif %}
  {% if order.access_meet_contact %}
    <li>Meet Contact -Details<br/>
      {% if order.contact_first_name%} {{ order.contact_first_name }}{% endif %}
      {% if order.contact_last_name %} {{ order.contact_last_name }}{% endif %} <br/>
      {% if order.contact_phone %} (Phone: {{ order.contact_phone }}){% endif %}<br/>
      {% if order.contact_email %} (Email: {{ order.contact_email }}){% endif %}<br>
    </li>
  {% endif %}
  {% if order.access_hidden_key %}
    <li>Hidden Key
      {% if order.hidden_key_directions %}<br>Directions: {{ order.hidden_key_directions }}{% endif %}
    </li>
  {% endif %}
  {% if order.access_community_access %}
    <li>Community Access
      {% if order.community_access_instructions %}<br>Instructions: {{ order.community_access_instructions }}{% endif %}
    </li>
  {% endif %}
  {% if order.access_door_code %}
    <li>Door Code
      {% if order.door_code_value %} (Code: {{ order.door_code_value }}){% endif %}
    </li>
  {% endif %}
  {% if not order.access_lock_box and not order.access_app_lock_box and not order.access_meet_contact and not order.access_hidden_key and not order.access_community_access and not order.access_door_code %}
    <li><em>No access options specified</em></li>
  {% endif %}
</ul>
{# Special Instructions Section #}

{% if order.sp_instruction %}
  <p><strong>Special Instructions for Order:</strong></p>
  <p style='margin-left: 1em;'>{{ order.sp_instruction|linebreaksbr }}</p>
{% endif %}

{% if invoice_data.termsNotes %}
  <p><strong>Terms &amp; Notes:</strong></p>
  {{ invoice_data.termsNotes|safe }}
{% endif %}
